{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static "vendor\bootstrap\bootstrap.css" %}" rel="stylesheet" type="text/css" /> <link href="{% static "vendor\bootstrap\bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static "css\test.css" %}" />
    <link rel="stylesheet" href="{% static 'css\heroes.css' %}">
    <title>{% block jud %}{{ judul }}{% endblock jud %} </title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "snip/nav.html" %}
    <!-- Navbar -->

    <!-- content -->
    {% block content %}{% endblock content %}
    
    <!-- content -->


    <!-- Script -->
    <script src="{% static "vendor\bootstrap\bootstrap.js" %}"></script>
    <!-- Script -->
  </body>
</html>
